body {
    background-color: rgb(99, 255, 252);
}

.container {
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333333;
}

.answers input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.answers .btn-next {
    padding: 10px 20px;
    background-color: rgb(99, 255, 252);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-restart {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffcc00;
}